#container {
	margin-top: 75px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	color: black;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-align: center;
}

header {
	font-size: 50px;
	font-weight: bold;
}

input {
	padding: 10px;
	font-size: 20px;
	border:1px solid;
}

input#number {
	width: 300px;
}

input#subscribe {
	margin-top: 15px;
}

input#subscribe:active {
	background: #999;
}

#unsubscribe {
	font-size: 12px;
	padding-left: 10px;
}

#response {
	font-size: 25px;
	font-weight: bold;
	padding-top: 15px;
}
